.slds-form-element__label-container {
    display: flex;
    align-items: center;
}

.no-results-message {
    color: #c23934;
    font-size: 1rem;
    font-weight: 700;
}

.slds-listbox__option {
    min-height: 2.75rem;
    padding: 0.5rem 1rem;
}
